/* Tổng thể */
.container {
    width:9000px;s
    margin: 0 auto;
    padding: 20px;
    background-color: #121212;
    color: white;
}

/* Lưới hiển thị món ăn */
.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Chia 4 cột */
    gap: 20px; /* Khoảng cách giữa các công thức */
    justify-content: center;
}

.recipe-card {
    margin-top: 100px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    position: relative;
}


.recipe-card:hover {
    transform: scale(1.05);
}

.recipe-image {
    width: 100%; /* Đảm bảo ảnh full chiều rộng */
    height: 200px; /* Giữ chiều cao cố định */
    object-fit: cover; /* Đảm bảo ảnh không bị méo */
    border-radius: 8px;
}



/* Thông tin món ăn */
.recipe-info {
    margin-top: 10px;
    text-align: left;
    color: rgb(0, 0, 0);
}

.recipe-info h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}

.recipe-info p {
    font-size: 14px;
    color: hotpink;
}
.bookmark-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #FF1493;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    top: 260px;
    right: 10px;
    background: white;
}

.bookmark-icon:hover {
    background: #FF1493;
}

.bookmark-icon svg {
    stroke: #FF1493;
    transition: all 0.3s ease;
}

.bookmark-icon:hover svg {
    stroke: white;
}
